@font-face {
	font-family: Roboto-Bold;
	src: url("../fonts/Roboto-Bold.ttf");
}

@font-face {
	font-family: Roboto-Regular;
	src: url("../fonts/Roboto-Regular.ttf");
}

@font-face {
	font-family: Roboto-Light;
	src: url("../fonts/Roboto-Light.ttf");
}

html,
body {
	height: 100%;
	margin: 0px;
}

#sbu-image
{
	position: fixed;
	height: 100%;
	width: 100%;
	z-index: -1;
	background-image: url("../images/stonybrook.jpg");
	background-size: cover;
	background-repeat: no-repeat;
	filter: brightness(60%);
}

#grid-overlay
{
	height: 100%; 
}

.avoid-wrap 
{ 
	display:inline-block;
}