@font-face {
	font-family: Roboto-Bold;
	src: url("../fonts/Roboto-Bold.ttf");
}

@font-face {
	font-family: Roboto-Regular;
	src: url("../fonts/Roboto-Regular.ttf");
}

@font-face {
	font-family: Roboto-Light;
	src: url("../fonts/Roboto-Light.ttf");
}

html,
body {
	height: 100%;
	margin: 0px;
}

#sbu-image
{
	position: fixed;
	height: 100%;
	width: 100%;
	background-image: url("../images/stonybrook.jpg");
	z-index: -1;
	background-size: cover;
	background-repeat: no-repeat;
}

#grid-overlay
{
	height: 100%; 
	background-image: url("../images/05.png");
}